.project
*.prefs
.classpath
.springBeans
.settings
target/
tmp
.idea/
*.iml
project/
.gradle/
out
.metadata
Servers
classes/
atlassian-ide-plugin.xml
.sonar/
sonar-project.*
*~
rebel.xml
buildSrc/
db-migration/
contiperf-report/
bin/
build/
*/src/generated/
node_modules/
